<h1 style="text-align:center; font-size:4em">Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>If your ane not at the source of this registration please verify your accounnt and modify your password </p>

<p style="text-align:center">
    Cheers!
</p>
